<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
  </head>

  <body>
      <div id="wrapper">
  	     <%= render 'shared/navbar' %>
         <br>
            <div class="container">
	             <%= yield %>
            </div>
      </div>
      <div class="container">
          <%= render 'shared/footer' %>
       </div> 
  </body>
</html>
